@model IntranetGLM2013.Models.LunchItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LunchItem</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrlPhoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrlPhoto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Like)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Like)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dislike)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dislike)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
